nav {
    background-color: #e397f2;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1000;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
        justify-content: space-around;
        display: flex;
        li {
            display: inline;
            height: 8vh;
            &:hover {
                background-color: #d176e1;
                transition: 0.3s;
                cursor: pointer;
            }
            a {
                font-size: 1.5rem;
            }
        }
    }
}